/**
 *	jQuery MG Gallery Plugin Style Sheet
 *
 *	Version 1.3.3
 */
/* -- Reset -- */
#galleryThumbnails img, #galleryMainContainer img {
	border: 0;
}
#galleryThumbnails ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
:focus {
	outline: none;
	}
/* -- Thumbnail Set and Main Image Containers -- */
#galleryMainContainer {
	float: left;
	position: relative;
}
#galleryMainContainer {
	position: relative;
}
#galleryMainContainer .next {
/* This is about the most important CSS block, do not change. It keeps the current and prior images superimposed on each other.*/
	position: absolute;
	top: 35px;
	left: 0;
}
#galleryThumbnails {
/* Alter #galleryMainContainer and #galleryThumbnails width attribute to suit your page and thumbnail width. */
	width: 310px;
	float: left;
}
#galleryMainContainer,
#galleryMainContainer .current,
#galleryMainContainer .next {
	width: 610px;
}
#galleryMainContainer .currentImage img {
	cursor: pointer;
}
/* -- Current Image and Slideshow Controls -- */
#galleryMainContainer .currentImage img{
	display: block; 			/* Ok, this 'display: block;' is important, too, but otherwise, feel free to change the current image, title or meta CSS blocks. */
	margin: 0 auto 10px auto;
	padding: 10px;				/* The padding and background-color give the current image a frame, feel free to change. */
	background-color: #EFEFEF;
}
#galleryMainContainer .currentTitle {
	line-height: 18px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
}
#galleryMainContainer .currentMeta {
	line-height: 18px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}
.slideShowControls {
	margin: 5px 0 10px;
	position: relative;
	height: 20px;
}
.slideShowControls .play, .slideShowControls .pause {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 30px;
}
/* -- Thumbnails and Thumbnail Page Controls -- */
#galleryThumbnails ul  .centerThumbs {
	width: 220px;
	margin: 0 auto;
}
#galleryThumbnails li {
	float: left;
}
#galleryThumbnails li img {
	margin: 5px;
	border: 1px solid #000;
}
.thumbPageControls {
	margin: 5px;
	position: relative;
	height: 20px;
}
.thumbPageControls .first {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.thumbPageControls .prev {
	position: absolute;
	top: 0;
	left: 30px;
	cursor: pointer;
}
.thumbPageControls .next {
	position: absolute;
	top: 0;
	right: 30px;
	cursor: pointer;
}
.thumbPageControls .last {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
/* -- Utility -- */
.clear {
	clear: both;
}